<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Log A New Order</h1>
        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
            {% if messages %}                            <!-- check if there are any messages -->
                {% for message in messages %}            <!-- loop through the messages -->
                    <p class="error">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h3>Please enter a valid number</h3>
        <a href="/">Back to Purchases</a>
        <form action="/create" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name">
            </div>
            <div class="form-group">
                <label for="cookie_type">Cookie Type</label>
                <input type="text" name="cookie_type">
            </div>
            <div class="form-group">
                <label for="boxes">Number Of Boxes</label>
                <input type="number" id="quantity" name="number_of_boxes" min="1" max="5">
                
            </div>
            <button class="btn btn-primary">Log</button>
        </form>
</body>
</html>